@charset "UTF-8";
/* CSS Document */

.hidden
{
	display: none;
}

#container
{
	margin: 0 auto;
	width: 980px;
}

body
{
	font-family: 'Teko', Arial, sans-serif;
	font-size: 40px;
	text-align: center;
}

h1
{
	font-size: 70px;
	margin-bottom: 20px;
}

/* FRAME OF GAME*/

#frame
{
	position: relative;
	width: 600px;
	height: 600px;
	background: url(../images/game_container_bckgrd.jpg);
	margin: 0 auto;
}

#rocket_ship
{
	top: 520px;
	position: absolute;
	width: 30px;
	margin: 0 auto;
}

#asteroid1
{
	width: 50px;
}

#asteroid2
{
	width: 55px;
}

#asteroid3
{
	width: 65px;
}

/* END OF GAME FRAME*/

#timer
{
	font-size: 50px;
	font-family: 'Share Tech Mono', 'Teko', monospace;
}

#resetScreen
{
	display: none;
	padding-top: 20%;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 960px;;
	height: 960px;
	color: white;
	background-color: rgba(0,0,0,0.9);
	margin: 0 auto;
}

#resetScreen button
{
	margin-left: 450px;
}

footer
{
	height: 60px;
	background-color: black;
}

#socialMediaCon
{
	margin-left: 10px;
}

#socialMediaCon ul li
{
	float: left;
	margin: 10px;
}

#socialMediaCon ul li a img
{
	width: 40px;
	height: 40px;
}

#socialMediaCon ul li a img:hover
{
	opacity: 0.5;
}


